<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCaF8JFetHxVZXsMo4O4d-lchpUQMl4G5U</string>
	<key>GCM_SENDER_ID</key>
	<string>633029579547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.connectcall</string>
	<key>PROJECT_ID</key>
	<string>connect-call-app-3fad5</string>
	<key>STORAGE_BUCKET</key>
	<string>connect-call-app-3fad5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633029579547:ios:43ea8f1f93bcaef02439be</string>
</dict>
</plist>